.selectable-button-container {
  height: 50px;
  width: 200px;
  border: 1px solid #ddd;
  margin: 10px 0;
  box-shadow: none;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectable-button-container p {
  font-size: 15px;
}

.selectable-button-container:hover {
  cursor: pointer;
  background: #f5f7fa;
}