.button-group-container {
  display: flex;
  flex-direction: row;
}

.button-group-btn {
  background: none;
  border: none;
  margin: 0;
  width: 60px;
  height: 30px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}