$green: #48cfad;

.button-group-btn {
  background: white;
  padding: 10px;
  border: 1px solid #ddd;
  min-width: 80px;
  font-size: 15px;
  transition: 0.2s ease;

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &.active {
    background: rgba($green, 0.05);
    color: $green;
    border: 1px solid $green;
  }
}
