.plus-minus-container {
  display: flex;
  flex-direction: row;
}

.plus-minus-container span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  min-width: 20px;
  font-weight: 500;
  color: #48cfad;
  font-size: 18px;
}

.plus-minus-btn {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 25px;
  user-select: none;
}

.plus-minus-btn:hover{
  cursor: pointer;
}

.plus-minus-btn.minus{
  border: 1px solid rgb(83, 125, 216);
}

.plus-minus-btn.add{
  transition: 0.2s ease;
  border: 1px solid #f90;
}

.plus-minus-symbol{
  width: 20px;
  height: 20px;
}